<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gds.weixin.dao.repository.TalkMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.gds.weixin.dao.po.TalkPO">
		<!---->
		<id property="id" column="id" />
		<!--说-->
		<result property="say" column="say" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	say
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.gds.weixin.dao.po.TalkPO" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_talk
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM t_talk
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.gds.weixin.dao.po.TalkPO">
		 INSERT INTO t_talk
 		(id,say) 
		 VALUES 
 		(#{id},#{say}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.gds.weixin.dao.po.TalkPO">
		 INSERT INTO t_talk
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="say != null">
				 say,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="say!=null">
				 #{say},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.gds.weixin.dao.po.TalkPO">
		 UPDATE t_talk
 		 <set> 
			<if test="say != null">
				 say = #{say},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.gds.weixin.dao.po.TalkPO">
		 UPDATE t_talk
		 SET 
			 say = #{say}
		 WHERE id = #{id}
	</update>

</mapper>